# Unload modules on restart and stop
#   Value: yes|no,  default: yes
# This option has to be 'yes' to get to a sane state for a firewall
# restart or stop. Only set to 'no' if there are problems unloading netfilter
# modules.
EBTABLES_MODULES_UNLOAD="yes"

# Load firewall rules on system startup.
#   Value: yes|no,  default: no
# Restores the ebtables rulesets from the last saved state when the
# system boots up.
EBTABLES_LOAD_ON_START="yes"

# Save current firewall rules on stop.
#   Value: yes|no,  default: no
# Saves all firewall rules if firewall gets stopped
# (e.g. on system shutdown).
EBTABLES_SAVE_ON_STOP="yes"

# Save current firewall rules on restart.
#   Value: yes|no,  default: no
# Saves all firewall rules if firewall gets restarted.
EBTABLES_SAVE_ON_RESTART="yes"

# Save (and restore) rule counters.
#   Value: yes|no,  default: no
# Save rule counters when saving a kernel table to a file. If the
# rule counters were saved, they will be restored when restoring the table.
EBTABLES_SAVE_COUNTER="no"

# Backup suffix for ruleset save files.
#   Value: <string>,  default: "~"
# Keep one backup level of saved rules.
# Set this variable to the empty string to disable backups.
EBTABLES_BACKUP_SUFFIX="~"
