export INSTANCE_NAME_PREFIX=colemick
export LOCATION=westus2
export SUBSCRIPTION_ID=23d59db5-7c0e-4825-b738-5859cec6b1a1
export TENANT_ID=04af9d99-4c30-4f32-95cd-3d14ceb7214d
export SERVICE_PRINCIPAL_CLIENT_ID=245bd80a-dbd4-4e21-95a4-ae1216a9621d
export SERVICE_PRINCIPAL_CLIENT_SECRET=99cfd46a-eae4-4fb6-a828-29cc9bf52d03

# optional (used for the OIDC proxy)
export OIDC_CLIENT_ID=
export OIDC_CLIENT_SECRET=
