export INSTANCE_NAME_PREFIX=francis200nodes-20170614
export LOCATION=westus2
export SUBSCRIPTION_ID=31614129-0f24-4a4c-9731-53ceecc3017d
export TENANT_ID=72f988bf-86f1-41af-91ab-2d7cd011db47
export SERVICE_PRINCIPAL_CLIENT_ID=d65f68d4-7dc1-431e-a482-d3ba65f6f46e
export SERVICE_PRINCIPAL_CLIENT_SECRET=4a24cde1-8b79-4cde-8f05-60502a353b87
export CUSTOM_HYPERKUBE_SPEC=jackfrancis/hyperkube-amd64:PR-46660.34

# optional (used for the OIDC proxy)
export OIDC_CLIENT_ID=
export OIDC_CLIENT_SECRET=