---
kind: Deployment
spec:
  replicas: 1
  template:
    spec:
      containers:
      - image: {{{kubernetesHeapsterSpec}}}
        command:
        - "/heapster"
        - "--source=kubernetes.summary_api:\"\""
        name: heapster
        resources:
          requests:
            cpu: 80m
            memory: 140Mi
          limits:
            cpu: 80m
            memory: 140Mi
      - image: {{{kubernetesAddonResizerSpec}}}
        command:
        - "/pod_nanny"
        - "--cpu=80m"
        - "--extra-cpu=0.5m"
        - "--memory=140Mi"
        - "--extra-memory=4Mi"
        - "--threshold=5"
        - "--deployment=heapster-v1.2.0-beta.1"
        - "--container=heapster"
        - "--poll-period=300000"
        - "--estimator=exponential"
        name: heapster-nanny
        resources:
          requests:
            cpu: 50m
            memory: 90Mi
          limits:
            cpu: 50m
            memory: 90Mi
        env:
        - valueFrom:
            fieldRef:
              fieldPath: metadata.name
          name: MY_POD_NAME
        - valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
          name: MY_POD_NAMESPACE
    metadata:
      labels:
        k8s-app: heapster
        version: v1.2.0
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ""
        scheduler.alpha.kubernetes.io/tolerations: "[{\"key\":\"CriticalAddonsOnly\",\"operator\":\"Exists\"}]"
  selector:
    matchLabels:
      k8s-app: heapster
      version: v1.2.0
apiVersion: extensions/v1beta1
metadata:
  labels:
    k8s-app: heapster
    version: v1.2.0
    kubernetes.io/cluster-service: "true"
  namespace: kube-system
  name: heapster-v1.2.0

