apiVersion: v1
kind: ServiceAccount
metadata:
  name: heapster
  namespace: kube-system
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: system:heapster
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:heapster
subjects:
- kind: ServiceAccount
  name: heapster
  namespace: kube-system
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  labels:
    k8s-app: heapster
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: EnsureExists
  namespace: kube-system
  name: heapster
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: heapster
  template:
    metadata:
      labels:
        k8s-app: heapster
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ""
        scheduler.alpha.kubernetes.io/tolerations: "[{\"key\":\"CriticalAddonsOnly\",\"operator\":\"Exists\"}]"
    spec:
      tolerations:
      - key: "CriticalAddonsOnly"
        operator: "Exists"
      serviceAccountName: heapster
      containers:
      - image: <kubernetesHeapsterSpec>
        command:
        - "/heapster"
        - "--source=kubernetes.summary_api:\"\""
        name: heapster
        resources:
          requests:
            cpu: 80m
            memory: 140Mi
          limits:
            cpu: 80m
            memory: 140Mi
      - image: <kubernetesAddonResizerSpec>
        command:
        - "/pod_nanny"
        - "--cpu=80m"
        - "--extra-cpu=0.5m"
        - "--memory=140Mi"
        - "--extra-memory=4Mi"
        - "--threshold=5"
        - "--deployment=heapster"
        - "--container=heapster"
        - "--poll-period=300000"
        name: heapster-nanny
        resources:
          requests:
            cpu: 50m
            memory: 90Mi
          limits:
            cpu: 50m
            memory: 90Mi
        env:
        - valueFrom:
            fieldRef:
              fieldPath: metadata.name
          name: MY_POD_NAME
        - valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
          name: MY_POD_NAMESPACE
      nodeSelector:
        beta.kubernetes.io/os: linux
