[Unit]
Description=Kubelet
Requires=docker.service
After=docker.service

[Service]
Restart=always
EnvironmentFile=/etc/default/kubelet
SuccessExitStatus=143
ExecStartPre=/bin/bash /opt/azure/containers/kubelet.sh
ExecStartPre=/bin/mkdir -p /var/lib/kubelet
ExecStartPre=/bin/bash -c "if [ $(mount | grep \"/var/lib/kubelet\" | wc -l) -le 0 ] ; then /bin/mount --bind /var/lib/kubelet /var/lib/kubelet ; fi"
ExecStartPre=/bin/mount --make-shared /var/lib/kubelet
ExecStartPre=-/sbin/ebtables -t nat --list
ExecStartPre=-/sbin/iptables -t nat --list
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment KUBELET_FD=$(/bin/cat /etc/kubernetes/fd)"
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment KUBELET_VMSIZE=$(/bin/cat /etc/kubernetes/vmsize)"
ExecStart=/usr/bin/docker run \
  --net=host \
  --pid=host \
  --privileged \
  --rm \
  --volume=/dev:/dev \
  --volume=/sys:/sys:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/var/lib/docker/:/var/lib/docker:rw \
  --volume=/var/lib/kubelet/:/var/lib/kubelet:shared \
  --volume=/var/log:/var/log:rw \
  --volume=/etc/kubernetes/:/etc/kubernetes:ro \
  --volume=/srv/kubernetes/:/srv/kubernetes:ro $DOCKER_OPTS \
    ${KUBELET_IMAGE} \
      /hyperkube kubelet \
        --kubeconfig=/var/lib/kubelet/kubeconfig \
        --require-kubeconfig \
        --pod-infra-container-image="${KUBELET_POD_INFRA_CONTAINER_IMAGE}" \
        --address=0.0.0.0 \
        --allow-privileged=true \
        --enable-server \
        --enable-debugging-handlers \
        --pod-manifest-path=/etc/kubernetes/manifests \
        --cluster-dns=${KUBELET_CLUSTER_DNS} \
        --cluster-domain=cluster.local \
        --register-schedulable=${KUBELET_REGISTER_SCHEDULABLE} \
        --node-labels="${KUBELET_NODE_LABELS},beta.kubernetes.io/instance-type=${KUBELET_VMSIZE},failure-domain.beta.kubernetes.io/zone=${KUBELET_FD}" \
        --azure-container-registry-config=/etc/kubernetes/azure.json \
        --hairpin-mode=promiscuous-bridge \
        --network-plugin=${KUBELET_NETWORK_PLUGIN} \
        --feature-gates=Accelerators=true \
        --v=2

[Install]
WantedBy=multi-user.target
