acs-engine.exe
acs-engine
debug
_output/
_input/
.vscode
.DS_Store
test/user.env
user.env
test/acs-engine-test/acs-engine-test
.editorconfig
_dist/
bin/
.env

test/junit/
test/acs-engine-test/acs-engine-test.exe
pkg/operations/junit.xml
pkg/operations/kubernetesupgrade/junit.xml
pkg/acsengine/templates.go
pkg/i18n/translations.go
pkg/certgen/templates/bindata.go

_logs/
test/acs-engine-test/report/TestReport.json
*.swp

# I have no idea why these get generated when I run the e2e test
test/e2e/kubernetes/translations/

# test outputs
cmd/_test_output

